{%- if settings.show_shipping -%}
  <div
    class="cart-shipping{% if cart == empty %} is-empty{% endif %}"
    data-min-spend="{{ settings.min_spend | times: 100.0 }}"
    data-total="{{ cart.total_price }}"
    data-message=" {{ settings.message_shipping }}"
    data-cart-is-empty="{{ cart.empty? }}"
    data-show-in-empty-drawer="{{ settings.enable_shipping_in_empty_drawer }}"
    data-show-in-empty-cart="{{ settings.enable_shipping_in_empty_cart }}"
  >
    <p class="cart-shipping__message cart-shipping__message_default active"></p>
    <p class="cart-shipping__message cart-shipping__message_success">
      {{- settings.success_message_shipping -}}
    </p>
    <span class="cart-shipping__progress">
      <span class="cart-shipping__progress-current"></span>
    </span>
  </div>
{%- endif -%}