{% liquid
  assign image_width = block.settings.image_size | default: '40'
%}

<div class="help-banner" {{ block.shopify_attributes }}>
  <div class="help-banner__wrapper color-{{ block.settings.color_scheme }} background">
    <div class="help-banner__content" style="--max-width: {{ block.settings.text_max_width }}px">
      {%- if block.settings.image != blank or block.settings.image_dark != blank -%}
        <div
          class="help-banner__image-wrapper"
          style="width: {{ image_width }}px;"
        >
          {%- if block.settings.image != blank -%}
            {%- capture style -%}object-position: {{ block.settings.image.presentation.focal_point }}; object-fit: 'cover';{%- endcapture -%}
            {%- capture sizes -%}{{ image_width | append: 'px' }}{%- endcapture -%}
            {{
              block.settings.image
              | image_url: width: image_width
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '40, 60, 80, 100, 120',
                style: style,
                class: 'help-banner__image'
            }}
          {%- endif -%}
          {%- if block.settings.image_dark != blank -%}
            {%- capture style -%}object-position: {{ block.settings.image_dark.presentation.focal_point }}; object-fit: 'cover';{%- endcapture -%}
            {%- capture sizes -%}{{ image_width | append: 'px' }}{%- endcapture -%}
            {{
              block.settings.image_dark
              | image_url: width: image_width
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '40, 60, 80, 100, 120',
                style: style,
                class: 'help-banner__image help-banner__image--dark'
            }}
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- if block.settings.help_banner_heading != blank or block.settings.help_banner_text != blank -%}
        <div class="help-banner__text">
          {%- if block.settings.help_banner_heading != blank -%}
            <h5 class="help-banner__title">{{ block.settings.help_banner_heading }}</h5>
          {%- endif -%}
          {%- if block.settings.help_banner_text != blank -%}
            <p class="help-banner__text-body rte">
              {{ block.settings.help_banner_text }}
            </p>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
    {%- if block.settings.show_button_1 or block.settings.show_button_2 -%}
      <div class="help-banner__buttons">
        {%- if block.settings.show_button_1 -%}
          {%- render 'button',
            btn_label: block.settings.button_label_1,
            btn_style: block.settings.button_style_1,
            btn_link: block.settings.button_link_1,
            class: 'help-banner__button'
          -%}
        {%- endif -%}
        {%- if block.settings.show_button_2 -%}
          {%- render 'button',
            btn_label: block.settings.button_label_2,
            btn_style: block.settings.button_style_2,
            btn_link: block.settings.button_link_2,
            class: 'help-banner__button'
          -%}
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</div>
