{% comment %}
  Renders a loader icon
  Accepts:
  - icon_size: {String} The size of the icon. Default: 28px
  - icon_color: {String} The color of the icon (--color-accent / --color-foreground / etc). Default: accent
  - icon_class: {String} Additional classes to add to the icon.
  Usage:
  {% render 'icon-loading', icon_size: '28px', icon_color: '--color-accent', icon_class: 'icon-loading'  %}
{% endcomment %}

{% liquid
  assign size_icon = '28px'

  if icon_size != blank
    assign size_icon = icon_size
  endif

  assign color_icon_var = 'var(--color-accent)'

  if icon_color != blank
    assign color_icon_var = icon_color
  endif
%}

{% capture styles %}
  --loader-icon-size: {{ size_icon }};
  --loader-icon-color: {{ color_icon_var }};
{% endcapture %}

<div class="icon-loading-wrapper" style="{{ styles }}">
  <span class="icon-loading{% if icon_class != blank %} {{ icon_class }}{% endif %}">
    <span class="visually-hidden">{{ 'accessibility.loading' | t }}</span>
  </span>
</div>
