{% comment %}
  Renders a page header.

  Accepts:
  - title: {String} Page title.
  - description: {String} Page description.
  - class: {String} Class name(s).

  Usage:
  {% render 'page-header', title: {{ 'page.title' | t }}, description: {{ 'page.description' | t }}, class: 'some-class some-other-class' %}
  {% render 'page-header', title: {{ blog.title | escape }}, class: 'some-class' %}
{% endcomment %}

{% if title or description %}
  <div class="page-header{% if class %} {{ class }}{% endif %}">
    {% if title %}
      <h1 class="page-header__title h2">
        {{ title | escape }}
      </h1>
    {% endif %}
    {% if description %}
      <p class="page-header__description body-large">
        {{ description }}
      </p>
    {% endif %}
  </div>
{% endif %}
