{% comment %}
  	Renders a list of product's price (regular, sale)

  	Accepts:
  	- product: {Object} Product Liquid object (optional)
  	- use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  	- price_class: {String} Adds a price class to the price element (optional)
  	Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  if is_placeholder
    assign target = blank
  endif

  assign compare_at_price = target.compare_at_price
  if is_placeholder_sale_price == true
    assign compare_at_price = 2199
  endif
  assign compare_at_price_min = target.compare_at_price_min | money
  assign compare_at_price_max = target.compare_at_price_max | money
  assign money_compare_at_price = compare_at_price | money

  assign price = target.price | default: 1999
  assign price_min = target.price_min | money
  assign price_max = target.price_max | money
  assign available = target.available | default: false
  assign money_price = price | money

  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_compare_at_price = compare_at_price | money_with_currency
    assign compare_at_price_min = target.compare_at_price_min | money_with_currency
    assign compare_at_price_max = target.compare_at_price_max | money_with_currency
    assign price_min = target.price_min | money_with_currency
    assign price_max = target.price_max | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = price_min | append: ' - ' | append: price_max
    capture money_price
      echo '<span dir="ltr">'
      echo price_min
      echo '</span> <span> - </span> <span dir="ltr">'
      echo price_max
      echo '</span>'
    endcapture
  endif

  if target == product and product.compare_at_price_varies
    assign money_compare_at_price = compare_at_price_min | append: ' - ' | append: compare_at_price_max
  endif
-%}

<div
  class="
    price
    {%- if price_class %} {{ price_class }}{% endif -%}
    {%- if available == false %} price--sold-out {% endif -%}
    {%- if compare_at_price > price and product.quantity_price_breaks_configured? != true %} price--on-sale {% endif -%}
    {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
  "
>
  <dl>
    {%- comment -%}
      Explanation of description list:
      - div.price__regular: Displayed when there are no variants on sale
      - div.price__sale: Displayed when a variant is a sale
      - div.price__availability: Displayed when the product is sold out
    {%- endcomment -%}

    <div class="price__regular">
      {%- if product.quantity_price_breaks_configured? -%}
        {%- if compare_at_price -%}
          {%- unless product.price_varies == false and product.compare_at_price_varies %}
            <span class="visually-hidden visually-hidden--inline">
              {{- 'products.product.price.regular_price' | t -}}
            </span>
            <span>
              <s class="price-item price-item--regular variant-item__old-price">
                {% if settings.currency_code_enabled %}
                  {{ compare_at_price | money_with_currency }}
                {% else %}
                  {{ compare_at_price | money }}
                {% endif %}
              </s>
            </span>
          {%- endunless -%}
        {%- endif -%}
      {%- else -%}
        <dt class="visually-hidden">
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        </dt>
      {%- endif -%}

      <dd>
        <span class="price-item price-item--regular">
          {{ money_price }}
        </span>
      </dd>
    </div>
    <div class="price__sale">
      <dt class="visually-hidden">
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
      </dt>
      <dd>
        <span class="price-item price-item--sale">
          {{ money_price }}
        </span>
      </dd>
      <dt class="price__compare visually-hidden">
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
      </dt>
      <dd class="price__compare">
        <s class="price-item price-item--regular">
          {{ money_compare_at_price }}
        </s>
      </dd>
    </div>
    <dl class="unit-price caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %}">
      <dt class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</dt>
      <dd>
        <span>{{- product.selected_or_first_available_variant.unit_price | money -}}</span>
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
        <span>
          {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
            {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
          {%- endif -%}
          {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
        </span>
      </dd>
    </dl>
  </dl>
</div>
