{% comment %}
  Renders product variant options
  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - has_color_swatch: {Boolean} for display color swatches.
  - is_mini_card: {Boolean} for display selects for mini card,
  - unavailable_options_clickable: {Boolean} to interact with unavailable options.
  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block,
    has_color_swatch: false,
    is_dropdown: false,
    unavailable_options_clickable: false
  %}
{% endcomment %}

{%- liquid
  if is_mini_card != true
    assign product_form_id = 'product-form-' | append: section.id
  else
    assign product_form_id = 'product-form-' | append: section.id | append: '-mini-card'
  endif

  if swatch_shape != blank
    assign swatch_shape = swatch_shape
  else
    assign swatch_shape = settings.color_swatch_type
  endif
-%}

{% assign index = 0 %}
{%- for value in option.values -%}
  {% liquid
    assign option_disabled = true

    for variant in product.variants
      assign match = true

      for i in (1..option.position)
        assign index_pos = i | minus: 1
        assign selected_value = product.selected_or_first_available_variant.options[index_pos]
        assign variant_value = variant.options[index_pos]

        if i == option.position
          if variant_value != value
            assign match = false
          endif
        else
          if selected_value != variant_value
            assign match = false
          endif
        endif
      endfor

      if match and variant.available
        assign option_disabled = false
      endif
    endfor
  %}

  {%- liquid
    assign is_show = false
    if is_product_card == true
      if value.available
        assign is_show = true
      elsif cart_option == true and product.options_with_values.size > 1
        assign is_show = true
      endif
    else
      assign is_show = true
    endif
  -%}

  {% if is_show %}
    {% if settings.card_swatch_display_mode == 'compact' %}
      {% assign index = index | plus: 1 %}
    {% endif %}
    {% assign option_position = option.position | times: 1.00 %}
    {% liquid
      assign swatch_focal_point = null
      assign has_image = false
      if value.swatch.image != blank
        assign swatch_image_width = 114
        if is_product_card
          assign swatch_image_width = 72
        endif
        assign swatch_image_ratio = value.swatch.image.aspect_ratio
        assign swatch_calc_ratio = 1
        assign swatch_setting_ratio = 0.75
        if swatch_image_ratio > swatch_setting_ratio
          assign swatch_calc_ratio = swatch_image_ratio | divided_by: swatch_setting_ratio | round: 2
          assign swatch_image_width = swatch_image_width | times: swatch_calc_ratio
        endif
        assign image_url = value.swatch.image | image_url: width: swatch_image_width
        assign color_value = 'url(' | append: image_url | append: ')'
        if is_dropdown
          assign color_value = color_value | append: 'no-repeat center/cover'
        endif
        assign swatch_focal_point = value.swatch.image.presentation.focal_point
        assign has_image = true
      elsif value.swatch.color != blank
        assign color_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
      else
        assign init_color_value = value.name | handle | strip
        assign color_value = init_color_value | remove: '-'

        if settings.custom_colors != blank
          assign custom_colors_string = settings.custom_colors | strip
          assign custom_colors_obj = custom_colors_string | newline_to_br | split: '<br />'

          for obj in custom_colors_obj
            assign obj_strip = obj | strip
            assign obj_key = obj_strip | split: ':' | first
            assign obj_value = obj_strip | split: ':' | last
            assign obj_color_name = obj_key | handle | strip

            if init_color_value == obj_color_name
              assign obj_color_value = obj_value | strip
              if obj_color_value contains 'gradient'
                assign color_value = obj_color_value
              else
                assign color_value = obj_color_value | remove: '-'
              endif
              break
            endif
          endfor
        endif
      endif
    %}
    {% if settings.enable_color_swatch and has_color_swatch and is_dropdown == false %}
      {% if is_product_card_small == true and index > 2 %}
        <span class="options-more body-xs">
          {% assign size = option.values.size | minus: 2 %}
          {{ 'general.card.color_swatch_more' | t: count: size }}
        </span>
        {% break %}
      {% elsif is_product_card and index > 5 %}
        <span class="options-more body-xs">
          {% assign size = option.values.size | minus: 5 %}
          {{ 'general.card.color_swatch_more' | t: count: size }}
        </span>
        {% break %}
      {% endif %}

      {% liquid
        assign variant_link = product.url

        for variant in product.variants
          assign flag = false
          assign avialiability_flag = false
          if variant.available
            for option_variant in variant.options
              if option_variant.id == value.id
                assign flag = true
                break
              endif
            endfor
          endif

          if variant.available == false
            for option_variant in variant.options
              if option_variant.id == value.id
                assign avialiability_flag = true
                break
              endif
            endfor
          endif

          if flag == true
            assign variant_link = variant.url
            assign variant_id = variant.id
            break
          endif

          if avialiability_flag == true
            assign unavailable_variant_img = variant.featured_media.preview_image.src
            break
          endif
        endfor
      %}

      <input
        type="radio"
        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}-{{ product.id }}{%- if index_tab -%}-{{ index_tab }}{%- endif -%}"
        name="{{ option.name }}-{{ section.id }}-{{ product.id }}{%- if index_tab -%}-{{ index_tab }}{%- endif -%}"
        value="{{ value | escape }}"
        {% if variant_link %}
          data-variant-link="{{ variant_link }}"
        {% endif %}
        {% if variant_id %}
          data-variant-id="{{ variant_id }}"
        {% endif %}
        {% if is_product_card != true %}
          form="{{ product_form_id }}"
        {% endif %}
        {% if option.selected_value == value %}
          checked
        {% endif %}
        {% if option_disabled and is_product_card != true %}
          class="disabled"
        {% endif %}
        tabindex="0"
      >
      {% liquid
        # additional check for variant image output only for Swatch trigger option
        assign color_trigger = settings.trigger_swatch | strip | newline_to_br | split: '<br />'
        assign name_option = option.name | handle | strip
        assign is_swatch_trigger_option = false
        for item in color_trigger
          assign item_temp = item | handle | strip
          if name_option == item_temp
            assign is_swatch_trigger_option = true
          endif
        endfor
      %}

      {%- if swatch_type != blank and swatch_type == 'variant_image' and is_swatch_trigger_option -%}
        {%- liquid
          assign option_index = option.position | minus: 1
          assign has_variant_image = false
          for variant in product.variants
            if variant.options[option_index] == value
              if variant.image != blank
                assign has_variant_image = true
                assign variant_image = variant.image
                assign image_width = 114
                if is_product_card
                  assign image_width = 72
                endif
                assign image_ratio = variant.image.aspect_ratio
                assign calc_ratio = 1
                assign setting_ratio = 0.75
                if image_ratio > setting_ratio
                  assign calc_ratio = image_ratio | divided_by: setting_ratio | round: 2
                  assign image_width = image_width | times: calc_ratio
                endif
              endif
              break
            endif
          endfor
        -%}

        {%- capture variant_image_style -%}
          {%- if has_variant_image -%}
            --swatch-color: url({{ variant_image | image_url: width: image_width }}); --swatch-focal-point: center;{%- if swatch_shape == 'square' -%} --border-radius: {{ settings.swatch_border_radius }}px;{%- endif -%}
          {%- else -%}
            --swatch-color: {{ color_value }};{%- if swatch_shape == 'square' -%} --border-radius: {{ settings.swatch_border_radius }}px;{%- endif -%}
          {%- endif -%}
        {%- endcapture -%}

        <label
          for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}-{{ product.id }}{%- if index_tab -%}-{{ index_tab }}{%- endif -%}"
          class="color-swatch{% if swatch_shape == 'square' and is_product_card != true %} color-swatch--circle{% endif %}"
          style="{{ variant_image_style }}"
          title="{{ value | escape }}"
          data-color-swatch="{{ color_value }}"
        >
          <span class="visually-hidden">{{ value -}}</span>

          {%- if block.settings.enable_notification_modal and option_position == product.options_with_values.size -%}
            <span class="notification-bell">
              {% render 'icon-bell' %}
            </span>
            {%- if 'products.product.quantity.out_of_stock' != blank -%}
              {%- render 'tooltip', inner_text: 'products.product.quantity.out_of_stock' | t, -%}
            {%- endif -%}
          {%- endif -%}

          {% comment %} Avaliability notification popup {% endcomment %}

          {%- if block.settings.enable_notification_modal and option_position == product.options_with_values.size -%}
            <modal-opener
              class="no-js-hidden sold-out-modal-opener"
              data-modal="#AvaliabilityNotificationModal-{{ section.id }}"
              data-option="{{ option.name |  escape}}"
              data-value="{{ value | escape }}"
            >
              <button
                id="AvaliabilityNotificationModal-{{ section.id }}"
                class="product-popup__button button-sold-out focus-inset"
                type="button"
                aria-haspopup="dialog"
                {% if unavailable_variant_img %}
                  data-unavailable-variant-img="{{ unavailable_variant_img }}"
                {% endif %}
              ></button>
            </modal-opener>
          {%- endif -%}
        </label>
      {%- else -%}
        <label
          for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}-{{ product.id }}{%- if index_tab -%}-{{ index_tab }}{%- endif -%}"
          class="color-swatch {% if swatch_shape == 'square' and is_product_card != true %} color-swatch--circle{% endif %}"
          style="
            --swatch-color: {{ color_value }};
            {%- if swatch_shape == 'square' -%} --border-radius: {{ settings.swatch_border_radius }}px; {%- endif -%}
            {% if swatch_focal_point -%} --swatch-focal-point: {{ swatch_focal_point }};{%- endif -%}
          "
          title="{{ value | escape }}"
          data-color-swatch="{{ color_value }}"
        >
          <span class="visually-hidden">{{ value -}}</span>

          {%- if block.settings.enable_notification_modal and option_position == product.options_with_values.size -%}
            <span class="notification-bell">
              {% render 'icon-bell' %}
            </span>
            {%- if 'products.product.quantity.out_of_stock' != blank -%}
              {%- render 'tooltip', inner_text: 'products.product.quantity.out_of_stock' | t, -%}
            {%- endif -%}
          {%- endif -%}

          {% comment %} Avaliability notification popup {% endcomment %}

          {%- if block.settings.enable_notification_modal and option_position == product.options_with_values.size -%}
            <modal-opener
              class="no-js-hidden sold-out-modal-opener"
              data-modal="#AvaliabilityNotificationModal-{{ section.id }}"
              data-option="{{ option.name |  escape}}"
              data-value="{{ value | escape }}"
            >
              <button
                id="AvaliabilityNotificationModal-{{ section.id }}"
                class="product-popup__button button-sold-out focus-inset"
                type="button"
                aria-haspopup="dialog"
                {% if unavailable_variant_img %}
                  data-unavailable-variant-img="{{ unavailable_variant_img }}"
                {% endif %}
              ></button>
            </modal-opener>
          {%- endif -%}
        </label>
      {%- endif -%}
    {%- else -%}
      {%- if block.settings.picker_type == 'button' or is_product_card -%}
        {% liquid
          for variant in product.variants
            assign avialiability_flag = false

            if variant.available == false
              for option_variant in variant.options
                if option_variant.id == value.id
                  assign avialiability_flag = true
                  break
                endif
              endfor
            endif

            if avialiability_flag == true
              assign unavailable_variant_img = variant.preview_image.src
              break
            endif
          endfor
        %}
        <input
          type="radio"
          {% if is_product_card %}
            id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}-{{ product.id }}{%- if index_tab -%}-{{ index_tab }}{%- endif -%}"
            name="{{ option.name }}-{{ section.id }}-{{ product.id }}{%- if index_tab -%}-{{ index_tab }}{%- endif -%}"
          {% else %}
            id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
            name="{{ option.name }}"
          {% endif %}
          value="{{ value | escape }}"
          {% if is_product_card != true %}
            form="{{ product_form_id }}"
          {% endif %}
          {% if option.selected_value == value and is_product_card != true %}
            checked
          {% endif %}
          {% if option_disabled and is_product_card != true %}
            class="disabled"
          {% elsif option_disabled and cart_option == true %}
            class="disabled"
            disabled
          {% endif %}
        >
        <label
          for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{%- if is_product_card -%}-{{ product.id }}{%- if index_tab -%}-{{ index_tab }}{%- endif -%}{%- endif -%}"
          class="pills-type-{{ block.settings.pills_shape }}"
        >
          {{- value -}}
          <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
          {%- if block.settings.enable_notification_modal and option_position == product.options_with_values.size -%}
            <span class="notification-bell">
              {% render 'icon-bell' %}
            </span>
            {%- if 'products.product.quantity.out_of_stock' != blank -%}
              {%- render 'tooltip', inner_text: 'products.product.quantity.out_of_stock' | t, -%}
            {%- endif -%}
          {%- endif -%}
          {%- if is_product_card -%}
            <div class="loading-overlay__spinner hidden">
              {% render 'icon-loading-circle' %}
            </div>
          {%- endif -%}
          {%- if block.settings.enable_notification_modal and option_position == product.options_with_values.size -%}
            <modal-opener
              class="no-js-hidden sold-out-modal-opener"
              data-modal="#AvaliabilityNotificationModal-{{ section.id }}"
              data-option="{{ option.name |  escape}}"
              data-value="{{ value | escape }}"
            >
              <button
                id="AvaliabilityNotificationModal-{{ section.id }}"
                class="product-popup__button button-sold-out focus-inset"
                type="button"
                aria-haspopup="dialog"
                {% if unavailable_variant_img %}
                  data-unavailable-variant-img="{{ unavailable_variant_img }}"
                {% endif %}
              ></button>
            </modal-opener>
          {%- endif -%}
        </label>
      {%- elsif block.settings.picker_type == 'dropdown' or is_dropdown -%}
        {% comment %} items for custom select {% endcomment %}
        <li
          data-value="{{ value | escape }}"
          {% if settings.enable_color_swatch and has_color_swatch and is_dropdown == true %}
            data-color="{{ color_value }}"
          {% endif %}
          role="option"
          tabindex="-1"
          class="focus-inset"
        >
          <input
            type="radio"
            id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{%- if is_mini_card -%}-mini-card{%- endif -%}"
            name="{{ option.name }}"
            value="{{ value | escape }}"
            {% if no_form_id != true %}
              form="{{ product_form_id }}"
            {% endif %}
            {% if option.selected_value == value %}
              checked
            {% endif %}
            {% if option_disabled %}
              class="disabled"
            {% endif %}
          >
          <label
            for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{%- if is_mini_card -%}-mini-card{%- endif -%}"
            class="pills-variant-labels secondary_text"
          >
            <span
              class="select-labels{% if settings.enable_color_swatch and has_color_swatch and is_dropdown == true %} select-labels--color{% if has_image %} select-labels--color-image{% endif %}{% endif %}"
              {% if settings.enable_color_swatch and has_color_swatch and is_dropdown == true %}
                style="--swatch-color: {{ color_value }}; --border-radius: {{ settings.swatch_border_radius }}px;"
              {% endif %}
            >
              {{- value | escape -}}
            </span>

            <svg
              class="icon icon-checkmark"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M7.90287 14.9167L3.2085 10.2223L4.20162 9.22921L7.90287 12.9307L15.785 5.04858L16.7779 6.04171L7.90287 14.9167Z" fill="currentColor"/>
            </svg>
          </label>
        </li>
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
