{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {% render 'section-padding' %}
  {% render 'section-margin' %}
{%- endstyle -%}

<div class="contact-form color-{{ section.settings.color_scheme }} background section-{{ section.id }}-padding{% if section.settings.full_width_mobile %} contact-form--full-width-mobile{% endif %}">
  <div class="container">
    <div
      class="
        contact-form__wrapper contact-form__wrapper--{{ section.settings.layout }} contact-form__wrapper--{{ section.settings.position }}
        {% if section.settings.heading == blank and section.settings.description == blank and section.blocks.size == 0 %}
          contact-form__wrapper_no-border
        {% endif %}
      "
    >
      {% if section.settings.heading != blank or section.settings.description != blank or section.blocks.size > 0 %}
        <div class="contact-form__left">
          <div class="contact-form__left-box">
            {%- if section.settings.heading != blank or section.settings.description != blank -%}
              {% render 'heading-group', section: section, class: 'contact-form', desc_size: 'body-xl' %}
            {%- endif -%}
            {% if section.blocks.size > 0 %}
              <div class="contact-form__features">
                {%- for block in section.blocks -%}
                  <div class="contact-form__feature" {{ block.shopify_attributes }}>
                    <div class="contact-form__feature-icon">
                      {% if block.settings.custom_icon == blank and block.settings.custom_icon_2 == blank %}
                        {% render 'icon-pack', icon: block.settings.icon %}
                      {% else %}
                        {%- if block.settings.custom_icon != blank -%}
                          {% assign height = 44 | divided_by: block.settings.custom_icon.aspect_ratio | round: 2 %}
                          {{
                            block.settings.custom_icon
                            | image_url: width: 88
                            | image_tag: height: height, width: 44, class: 'contact-form__icon-image'
                          }}
                        {%- endif -%}
                        {%- if block.settings.custom_icon_2 != blank -%}
                          {% assign height_2 = 44 | divided_by: block.settings.custom_icon_2.aspect_ratio | round: 2 %}
                          {{
                            block.settings.custom_icon_2
                            | image_url: width: 80
                            | image_tag:
                              height: height_2,
                              width: 44,
                              class: 'contact-form__icon-image contact-form__icon-image--dark'
                          }}
                        {%- endif -%}
                      {% endif %}
                    </div>

                    {% if block.settings.heading != blank %}
                      <h3 class="contact-form__feature-heading h4">
                        {{ block.settings.heading }}
                      </h3>
                    {% endif %}
                  </div>
                {%- endfor -%}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}

      <div class="contact-form__inner color-{{ section.settings.color_scheme_form }}">
        <div class="contact-form__inner-wrapper">
          {%- if section.settings.heading_form != blank -%}
            <h2 class="contact-form__title-form {{ section.settings.heading_form_size }}">
              {{ section.settings.heading_form }}
            </h2>
          {%- endif -%}
          {%- if section.settings.text_form != blank -%}
            <p class="contact-form__text-form body-large">
              {{ section.settings.text_form | newline_to_br }}
            </p>
          {%- endif -%}
          {%- form 'contact', id: 'ContactForm', class: 'contact-form__form' -%}
            {%- if form.posted_successfully? -%}
              <div class="form-status form-status-list form__message" tabindex="-1" autofocus>
                {% render 'icon-success' %}
                {{ 'templates.contact.form.post_success' | t }}
              </div>
            {%- elsif form.errors -%}
            {%- endif -%}
            <div class="field field__first-name">
              <input
                class="field__input"
                autocomplete="first_name"
                type="text"
                id="ContactForm-Firstname"
                dir="ltr"
                name="contact[{{ 'templates.contact.form.first_name' | t }}]"
                value="{% if form.first_name %}{{ form.first_name }}{% elsif customer %}{{ customer.first_name }}{% endif %}"
                placeholder="{{- 'templates.contact.form.first_name_placeholder' | t -}}"
              >
              <label
                class="field__label h6"
                for="ContactForm-Firstname"
              >
                {{- 'templates.contact.form.first_name' | t -}}
              </label>
            </div>
            <div class="field field__last-name">
              <input
                class="field__input"
                autocomplete="last_name"
                type="text"
                id="ContactForm-Lastname"
                dir="ltr"
                name="contact[{{ 'templates.contact.form.last_name' | t }}]"
                value="{% if form.last_name %}{{ form.last_name }}{% elsif customer %}{{ customer.last_name }}{% endif %}"
                placeholder="{{- 'templates.contact.form.last_name_placeholder' | t -}}"
                aria-required="true"
              >
              <label
                class="field__label h6"
                for="ContactForm-Lastname"
              >
                {{- 'templates.contact.form.last_name' | t -}}
              </label>
            </div>
            <div class="field field--email field--with-error">
              <input
                autocomplete="email"
                type="email"
                id="ContactForm-email"
                dir="ltr"
                class="field__input"
                name="contact[email]"
                spellcheck="false"
                autocapitalize="off"
                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="ContactForm-email-error"
                {% endif %}
                placeholder="{{- 'templates.contact.form.email_placeholder' | t -}}"
                required
              >
              <label
                class="field__label h6"
                for="ContactForm-email"
              >
                {{- 'templates.contact.form.email' | t -}}
              </label>
              {%- if form.errors contains 'email' -%}
                <small class="contact-form__field-error" id="ContactForm-email-error">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message">
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </span>
                </small>
              {%- endif -%}
            </div>
            <div class="field">
              <input
                type="tel"
                id="ContactForm-phone"
                dir="ltr"
                class="field__input"
                autocomplete="tel"
                name="contact[{{ 'templates.contact.form.phone' | t }}]"
                pattern="[0-9\-]*"
                value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                placeholder="{{- 'templates.contact.form.phone_placeholder' | t -}}"
              >
              <label
                class="field__label h6"
                for="ContactForm-phone"
              >
                {{- 'templates.contact.form.phone' | t -}}
              </label>
            </div>
            <div class="field field--message">
              <textarea
                id="ContactForm-body"
                dir="ltr"
                class="text-area field__input"
                name="contact[{{ 'templates.contact.form.comment' | t }}]"
                placeholder="{{- 'templates.contact.form.comment_placeholder' | t -}}"
                aria-required="true"
                required
              >
                {{- form.body -}}
              </textarea>
              <label
                class="field__label h6"
                for="ContactForm-body"
              >
                {{- 'templates.contact.form.comment' | t -}}
              </label>
            </div>
            <div class="contact-form__bottom">
              <button
                type="submit"
                class="button button--{{ section.settings.button_style }} contact-form__button focus-inset"
              >
                <span class="button__label" data-label="{{- 'templates.contact.form.send' | t -}}">
                  {{- 'templates.contact.form.send' | t -}}
                </span>
              </button>

              {% if section.settings.additional_text != blank %}
                <div class="contact-form__add-text body-small richtext-link-inside">
                  {{- section.settings.additional_text -}}
                </div>
              {% endif %}
            </div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "spaced-section contact-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "row",
          "label": "t:sections.contact-form.settings.layout.options__1.label"
        },
        {
          "value": "column",
          "label": "t:sections.contact-form.settings.layout.options__2.label"
        }
      ],
      "default": "row",
      "label": "t:sections.contact-form.settings.layout.label"
    },
    {
      "type": "select",
      "id": "position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.contact-form.settings.position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.contact-form.settings.position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.contact-form.settings.position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.contact-form.settings.position.label",
      "info": "t:sections.contact-form.settings.position.info"
    },
    {
      "type": "checkbox",
      "id": "full_width_mobile",
      "default": true,
      "label": "t:sections.contact-form.settings.full_width_mobile.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.contact-form.settings.heading.default",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_level",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_level.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_level.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_level.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_level.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "t:sections.contact-form.settings.description.default",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_form",
      "default": "background-2",
      "label": "t:sections.contact-form.settings.color_scheme_form.label"
    },
    {
      "type": "header",
      "content": "t:sections.contact-form.settings.header.content"
    },
    {
      "type": "text",
      "id": "heading_form",
      "label": "t:sections.contact-form.settings.heading_form.label",
      "default": "t:sections.contact-form.settings.heading_form.default"
    },
    {
      "type": "select",
      "id": "heading_form_size",
      "options": [
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        }
      ],
      "default": "h3",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "textarea",
      "id": "text_form",
      "default": "t:sections.contact-form.settings.text_form.default",
      "label": "t:sections.contact-form.settings.text_form.label"
    },
    {
      "type": "inline_richtext",
      "id": "additional_text",
      "label": "t:sections.contact-form.settings.additional_text.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.all.button.button_style.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "xl",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "t:sections.contact-form.blocks.feature.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.multicolumn.blocks.column.settings.icon.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.icon_pack.options__1.label"
            },
            {
              "value": "arrow-back",
              "label": "t:sections.all.icon_pack.options__2.label"
            },
            {
              "value": "arrow-down",
              "label": "t:sections.all.icon_pack.options__3.label"
            },
            {
              "value": "arrow-right",
              "label": "t:sections.all.icon_pack.options__4.label"
            },
            {
              "value": "arrow-up",
              "label": "t:sections.all.icon_pack.options__5.label"
            },
            {
              "value": "bag",
              "label": "t:sections.all.icon_pack.options__6.label"
            },
            {
              "value": "bell",
              "label": "t:sections.all.icon_pack.options__7.label"
            },
            {
              "value": "box",
              "label": "t:sections.all.icon_pack.options__8.label"
            },
            {
              "value": "check",
              "label": "t:sections.all.icon_pack.options__9.label"
            },
            {
              "value": "close",
              "label": "t:sections.all.icon_pack.options__10.label"
            },
            {
              "value": "copy",
              "label": "t:sections.all.icon_pack.options__11.label"
            },
            {
              "value": "crown",
              "label": "t:sections.all.icon_pack.options__12.label"
            },
            {
              "value": "dark-mode",
              "label": "t:sections.all.icon_pack.options__13.label"
            },
            {
              "value": "eye",
              "label": "t:sections.all.icon_pack.options__14.label"
            },
            {
              "value": "facebook",
              "label": "t:sections.all.icon_pack.options__15.label"
            },
            {
              "value": "instagram",
              "label": "t:sections.all.icon_pack.options__16.label"
            },
            {
              "value": "like",
              "label": "t:sections.all.icon_pack.options__17.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.icon_pack.options__18.label"
            },
            {
              "value": "minus",
              "label": "t:sections.all.icon_pack.options__19.label"
            },
            {
              "value": "page",
              "label": "t:sections.all.icon_pack.options__20.label"
            },
            {
              "value": "pant",
              "label": "t:sections.all.icon_pack.options__21.label"
            },
            {
              "value": "payment",
              "label": "t:sections.all.icon_pack.options__22.label"
            },
            {
              "value": "percent",
              "label": "t:sections.all.icon_pack.options__23.label"
            },
            {
              "value": "pinterest",
              "label": "t:sections.all.icon_pack.options__24.label"
            },
            {
              "value": "place-mark",
              "label": "t:sections.all.icon_pack.options__25.label"
            },
            {
              "value": "plus",
              "label": "t:sections.all.icon_pack.options__26.label"
            },
            {
              "value": "search",
              "label": "t:sections.all.icon_pack.options__29.label"
            },
            {
              "value": "settings",
              "label": "t:sections.all.icon_pack.options__30.label"
            },
            {
              "value": "share",
              "label": "t:sections.all.icon_pack.options__31.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.all.icon_pack.options__32.label"
            },
            {
              "value": "snapchat",
              "label": "t:sections.all.icon_pack.options__33.label"
            },
            {
              "value": "star",
              "label": "t:sections.all.icon_pack.options__34.label"
            },
            {
              "value": "support",
              "label": "t:sections.all.icon_pack.options__35.label"
            },
            {
              "value": "tiktok",
              "label": "t:sections.all.icon_pack.options__36.label"
            },
            {
              "value": "top",
              "label": "t:sections.all.icon_pack.options__37.label"
            },
            {
              "value": "telegram",
              "label": "t:sections.all.icon_pack.options__38.label"
            },
            {
              "value": "trash",
              "label": "t:sections.all.icon_pack.options__39.label"
            },
            {
              "value": "twitter",
              "label": "t:sections.all.icon_pack.options__40.label"
            },
            {
              "value": "tumblr",
              "label": "t:sections.all.icon_pack.options__41.label"
            },
            {
              "value": "user-1",
              "label": "t:sections.all.icon_pack.options__42.label"
            },
            {
              "value": "user-2",
              "label": "t:sections.all.icon_pack.options__43.label"
            },
            {
              "value": "user-3",
              "label": "t:sections.all.icon_pack.options__44.label"
            },
            {
              "value": "vimeo",
              "label": "t:sections.all.icon_pack.options__45.label"
            },
            {
              "value": "world",
              "label": "t:sections.all.icon_pack.options__46.label"
            },
            {
              "value": "youtube",
              "label": "t:sections.all.icon_pack.options__47.label"
            },
            {
              "value": "furniture",
              "label": "t:sections.all.icon_pack.options__48.label"
            },
            {
              "value": "lighting",
              "label": "t:sections.all.icon_pack.options__49.label"
            },
            {
              "value": "plant",
              "label": "t:sections.all.icon_pack.options__50.label"
            },
            {
              "value": "equipment",
              "label": "t:sections.all.icon_pack.options__51.label"
            },
            {
              "value": "ring",
              "label": "t:sections.all.icon_pack.options__52.label"
            },
            {
              "value": "earrings",
              "label": "t:sections.all.icon_pack.options__53.label"
            },
            {
              "value": "necklace",
              "label": "t:sections.all.icon_pack.options__54.label"
            },
            {
              "value": "bracelet",
              "label": "t:sections.all.icon_pack.options__55.label"
            }
          ],
          "default": "box"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "t:sections.contact-form.blocks.feature.settings.custom_icon.label",
          "info": "t:sections.contact-form.blocks.feature.settings.custom_icon.info"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_2",
          "label": "t:sections.contact-form.blocks.feature.settings.custom_icon_2.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.contact-form.blocks.feature.settings.heading.default",
          "label": "t:sections.all.heading.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name",
      "category": "t:sections.categories.forms",
      "blocks": [
        {
          "type": "feature"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        }
      ]
    }
  ]
}
{% endschema %}
