{{ 'component-search.css' | asset_url | stylesheet_tag }}
{{ 'template-search.css' | asset_url | stylesheet_tag }}

{%- if settings.predictive_search_enabled -%}
  {{ 'template-search.css' | asset_url | stylesheet_tag }}
  {{ 'component-article-card.css' | asset_url | stylesheet_tag }}
  {{ 'component-card.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  {% render 'section-margin' %}

  predictive-search .spinner {
    width: 1.5rem;
    height: 1.5rem;
  }
{%- endstyle -%}

<div class="template-404 template-404__page">
  <div class="container">
    <div class="page-header">
      <div class="page-header__inner template-search__header-inner">
        <h1 class="main-page-title page-title title--page h2">
          <span class="accent-font">404</span>
          {{ 'templates.404.title' | t }}
        </h1>
        <p class="template-search__header-text body-large">
          {{ 'templates.404.text' | t }}
        </p>
      </div>
    </div>
    <div class="template-search__search">
      {%- if settings.predictive_search_enabled -%}
        <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
      {%- endif -%}
      {%- if search.performed and search.results_count == 0 and search.filters == empty -%}
        <div class="search-wrapper">
      {% endif %}
      <form
        action="{{ routes.search_url }}"
        method="get"
        role="search"
        class="search{% if search.performed %} search--perfomed{% endif %}"
      >
        <div class="search__form-inner">
          <div class="field">
            <button
              class="search__button field__button focus-inset"
              aria-label="{{ 'general.search.search' | t }}"
              type="submit"
            >
              {% render 'icon-search' %}
            </button>
            <input
              class="search__input field__input"
              id="Search-In-404"
              type="search"
              dir="ltr"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.placeholder' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results-list"
                aria-controls="predictive-search-results-list"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <label class="visually-hidden" for="Search-In-404">{{ 'general.search.search' | t }}</label>
            <input name="options[prefix]" type="hidden" value="last">
          </div>
          {%- if settings.predictive_search_enabled -%}
            <button
              class="predictive-search__close-btn search__button search__button--reset field__button focus-inset"
              aria-label="{{- 'general.search.reset_search' | t -}}"
              type="reset"
            >
              {% render 'icon-close' %}
            </button>
          {% endif %}
        </div>
        {%- if settings.predictive_search_enabled -%}
          <div class="predictive-search predictive-search--search-template color-background-1" tabindex="-1">
            <div class="predictive-search-results-container" data-predictive-search></div>

            <div class="predictive-search__loading-state">
              {% render 'icon-loading' %}
            </div>
          </div>

          <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
        {%- endif -%}
      </form>
      {%- if search.performed and search.results_count == 0 and search.filters == empty -%}
        </div>
      {% endif %}
      {%- if settings.predictive_search_enabled -%}
        </predictive-search>
      {%- endif -%}
    </div>
  </div>
</div>

{%- if settings.predictive_search_enabled -%}
  <script defer>
    (() => {
      function initSearch() {
        const input = document.querySelector('#Search-In-404');
        if (input.closest('predictive-search')) return;
        if (!input) return;

        const form = input.form;
        const resetBtn = form?.querySelector('.search__button--reset');

        input.focus();
        const length = input.value.length;
        input.setSelectionRange(length, length);

        input?.addEventListener('input', (event) => {
          if (event.target.value) {
            resetBtn.style.display = 'flex';
          } else {
            resetBtn.style.display = 'none';
          }
        });

        resetBtn?.addEventListener('click', (event) => {
          event.preventDefault();
          if (input) {
            input.value = '';
            input.focus();
          }
          resetBtn.style.display = 'none';
        });
      }
      window.addEventListener('load', initSearch);
    })();
  </script>
{% endif %}

{% schema %}
{
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "l",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ]
}
{% endschema %}
