{{ 'section-newsletter.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {% render 'section-margin' %}
{%- endstyle -%}

{% liquid
  assign padding_bottom = 0
  if section.settings.image_ratio != 'adapt' and section.settings.image_ratio != 'full'
    assign aspect_ratio = section.settings.image_ratio | split: '/'
    assign temp = aspect_ratio[0] | append: '.0'
    assign padding_bottom = aspect_ratio[1] | divided_by: temp | times: 100 | round: 2
    assign settings_desktop_aspect_ratio = temp | divided_by: aspect_ratio[1] | round: 2
  elsif section.settings.image_ratio == 'adapt' and section.settings.image != blank
    assign padding_bottom = 1 | divided_by: section.settings.image.aspect_ratio | times: 100 | round: 2
    assign settings_desktop_aspect_ratio = section.settings.image.aspect_ratio
  elsif section.settings.image_ratio == 'adapt' and section.settings.image == blank
    assign padding_bottom = 42
  elsif section.settings.image_ratio == 'full'
    assign settings_desktop_aspect_ratio = 1
  endif

  assign padding_bottom_mobile = 0
  if section.settings.image_ratio_mobile != 'adapt'
    assign aspect_ratio_mobile = section.settings.image_ratio_mobile | split: '/'
    assign temp = aspect_ratio_mobile[0] | append: '.0'
    assign padding_bottom_mobile = aspect_ratio_mobile[1] | divided_by: temp | times: 100 | round: 2
    assign settings_mobile_aspect_ratio = temp | divided_by: aspect_ratio_mobile[1] | round: 2
  elsif section.settings.image_ratio_mobile == 'adapt' and section.settings.image != blank
    assign padding_bottom_mobile = 1 | divided_by: section.settings.image.aspect_ratio | times: 100 | round: 2
    assign settings_mobile_aspect_ratio = section.settings.image.aspect_ratio
  elsif section.settings.image_ratio_mobile == 'adapt' and section.settings.image == blank
    assign padding_bottom_mobile = 45
  endif
%}

<div class="newsletter {% if section.settings.enable_animation %} section-animation {% endif %}">
  <div class="container">
    <div class="newsletter__inner color-{{ section.settings.color_scheme }} {% if section.settings.enable_image == false %} newsletter__inner_no-image {% endif %} newsletter__inner--{{ section.settings.align_content }} {% if section.settings.enable_animation %} banner-animation {% endif %}">
      {%- if section.settings.enable_image -%}
        <div
          class="newsletter__image-wrapper newsletter__image-wrapper--{{ section.settings.image_ratio }}"
          style="--padding-bottom: {{ padding_bottom }}%; --padding-bottom-mobile: {{ padding_bottom_mobile }}%;"
        >
          {%- if section.settings.image != blank -%}
            {% liquid
              assign calc_ratio_mobile = 1
              if section.settings.image.aspect_ratio > settings_mobile_aspect_ratio
                assign calc_ratio_mobile = section.settings.image.aspect_ratio | divided_by: settings_mobile_aspect_ratio | round: 2
              endif
              assign calc_ratio_desktop = 1
              if section.settings.image.aspect_ratio > settings_desktop_aspect_ratio
                assign calc_ratio_desktop = section.settings.image.aspect_ratio | divided_by: settings_desktop_aspect_ratio | round: 2
              endif
            %}
            {%- capture sizes -%}
              (min-width: 1200px) calc(50vw * {{ calc_ratio_desktop }}), (min-width: 990px) calc(60vw * {{ calc_ratio_desktop }}), calc(100vw * {{ calc_ratio_mobile }})
            {%- endcapture -%}
            {{
              section.settings.image
              | image_url: width: section.settings.image.width
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '360, 535, 720, 920, 1200, 1500, 1840, 2240',
                class: 'newsletter__image'
            }}
          {%- else -%}
            {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg newsletter__image' }}
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="newsletter__form">
        <div class="newsletter__form-content">
          {% render 'heading-group', section: section, class: 'newsletter' %}

          <div class="content">
            {%- assign newsletter_form_id = 'newsletter-form-' | append: section.id -%}
            {% form 'customer', id: newsletter_form_id, class: 'newsletter-form' %}
              <div class="newsletter-form__inner">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      dir="ltr"
                      class="field__input field"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ section.id }}"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ section.id }}"
                      {% endif %}
                      placeholder="{{- 'newsletter.label' | t -}}"
                      required
                    >
                    <label class="visually-hidden" for="NewsletterForm--{{ section.id }}">
                      {{- 'newsletter.label' | t -}}
                    </label>
                  </div>
                  {%- if form.errors -%}
                    <small
                      class="newsletter-form__message form__message"
                      id="Newsletter-error--{{ section.id }}"
                    >
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                <button
                  type="submit"
                  class="newsletter__button button button--{{ section.settings.button_style }} focus-inset"
                  name="commit"
                >
                  <div class="button__content">
                    <span class="button__label" data-label="{{ section.settings.button_label }}">
                      {{ section.settings.button_label }}
                    </span>
                  </div>
                </button>
              </div>
              {% if section.settings.privacy_policy_consent and section.settings.privacy_policy_text != blank %}
                <div class="newsletter-subscribe-form-checkbox field field--checkbox">
                  <input
                    type="checkbox"
                    name="newsletter_checkbox"
                    id="newsletter_checkbox_{{ section.id }}"
                    required
                  >
                  <label
                    for="newsletter_checkbox_{{ section.id }}"
                  >
                    <span class="field__checkbox">
                      {% render 'icon-checkmark' %}
                    </span>
                    <span class="field__label">
                      {{ section.settings.privacy_policy_text }}
                    </span>
                  </label>
                </div>
              {% endif %}
              {%- if section.settings.newsletter_text -%}
                <div class="newsletter__text body-small richtext-link-inside">
                  {{- section.settings.newsletter_text -}}
                </div>
              {%- endif -%}
              {%- if form.posted_successfully? -%}
                <h3
                  class="newsletter-form__message newsletter-form__message--success form__message"
                  id="Newsletter-success--{{ section.id }}"
                  tabindex="-1"
                  autofocus
                >
                  {% render 'icon-success' -%}
                  {{- 'newsletter.success' | t }}
                </h3>
              {%- endif -%}
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "spaced-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-2",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.newsletter.settings.heading.default",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_level",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_level.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_level.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_level.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_level.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.text.label",
      "default": "t:sections.newsletter.settings.description.default"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_text",
      "default": "t:sections.newsletter.settings.newsletter_text.default",
      "label": "t:sections.newsletter.settings.newsletter_text.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.newsletter.settings.button_label.default",
      "label": "t:sections.all.button.button_label.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.all.button.button_style.label"
    },
    {
      "type": "checkbox",
      "id": "enable_image",
      "default": true,
      "label": "t:sections.countdown.settings.enable_image.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label",
      "visible_if": "{{ section.settings.enable_image }}"
    },
    {
      "type": "select",
      "id": "align_content",
      "options": [
        {
          "value": "left",
          "label": "t:sections.newsletter.settings.align_content.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.newsletter.settings.align_content.options__2.label"
        }
      ],
      "default": "right",
      "label": "t:sections.newsletter.settings.align_content.label",
      "visible_if": "{{ section.settings.enable_image }}"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "1/1",
          "label": "t:sections.all.aspect_ratio.options__1.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.aspect_ratio.options__2.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.aspect_ratio.options__3.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.aspect_ratio.options__4.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.aspect_ratio.options__5.label"
        },
        {
          "value": "4/5",
          "label": "t:sections.all.aspect_ratio.options__7.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.aspect_ratio.options__8.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.all.aspect_ratio.options__6.label"
        },
        {
          "value": "full",
          "label": "t:sections.all.aspect_ratio.options__9.label"
        }
      ],
      "default": "full",
      "label": "t:sections.all.desktop_aspect_ratio.label",
      "visible_if": "{{ section.settings.enable_image }}"
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "options": [
        {
          "value": "1/1",
          "label": "t:sections.all.aspect_ratio.options__1.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.aspect_ratio.options__2.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.aspect_ratio.options__3.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.aspect_ratio.options__4.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.aspect_ratio.options__5.label"
        },
        {
          "value": "4/5",
          "label": "t:sections.all.aspect_ratio.options__7.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.aspect_ratio.options__8.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.all.aspect_ratio.options__6.label"
        }
      ],
      "default": "16/9",
      "label": "t:sections.all.mobile_tablet_aspect_ratio.label",
      "visible_if": "{{ section.settings.enable_image }}"
    },
    {
      "type": "checkbox",
      "id": "enable_animation",
      "label": "t:sections.all.enable_banner_animation.label",
      "info": "t:sections.all.enable_animation.info",
      "default": false,
      "visible_if": "{{ section.settings.enable_image }}"
    },
    {
      "type": "checkbox",
      "id": "privacy_policy_consent",
      "default": false,
      "label": "t:sections.newsletter.settings.privacy_policy_consent.label"
    },
    {
      "type": "inline_richtext",
      "id": "privacy_policy_text",
      "label": "t:sections.newsletter.settings.privacy_policy_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "l",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "l",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.name",
      "category": "t:sections.categories.forms"
    }
  ]
}
{% endschema %}
