<div
  class="notification-bar popup popup--{{ section.settings.position }}"
  {% if section.settings.popup_id != blank %}
    id="{{ section.settings.popup_id }}"
  {% endif %}
  data-limit-display="{{ section.settings.limit-display }}"
  data-limit-lifetime="{{ section.settings.limit-cache }}"
  data-open-trigger="{{ section.settings.trigger-open }}"
  data-open-delay-number="{{ section.settings.trigger-open-delay }}"
  data-open-scroll-position="{{ section.settings.open-scroll-position }}"
  data-open-scroll-type="{{ section.settings.open-scroll-type }}"
  {% if section.settings['manual-selector'] != blank %}
    data-open-manual-selector="{{ section.settings.manual-selector }}"
  {% endif %}
  data-close-trigger="{{ section.settings.trigger-close }}"
  data-close-delay-number="{{ section.settings.trigger-close-delay }}"
  data-close-scroll-position="{{ section.settings.close-scroll-position }}"
  data-close-scroll-type="{{ section.settings.close-scroll-type }}"
  data-open-animation="popupOpen{{ section.settings.open-animation }}"
  data-exit-animation="popupExit{{ section.settings.exit-animation }}"
  data-overlay="{{ section.settings.show-overlay }}"
  data-mobile-disable="{{ section.settings.mobile }}"
  data-body-scroll-disable="{{ section.settings.scrolling }}"
  data-overlay-close="{{ section.settings.overlay-close }}"
  data-esc-close="{{ section.settings.esc-close }}"
  data-f4-close="{{ section.settings.f4-close }}"
  data-id="{{ section.id }}"
  style="width: 100%;"
>
  <div class="popup-wrap color-{{ section.settings.color_scheme }} background">
    <div class="popup-container">
      <div class="popup-outer popup-outer--{{ section.settings.content_align }}">
        <div class="popup-wraper-text">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'subheading' -%}
                {%- if block.settings.subheading != blank -%}
                  <div
                    class="popup-subheading {{ block.settings.subheading_style }}{% if block.settings.subheading_style == 'simple' %} h4{% endif %}{% if block.settings.subheading_style == 'badge' %} {{ block.settings.badge_subheading_color }}{% endif %}"
                    {{ block.shopify_attributes }}
                  >
                    {{- block.settings.subheading -}}
                  </div>
                {%- endif -%}
              {%- when 'heading' -%}
                {%- if block.settings.heading != blank -%}
                  <{{ block.settings.heading_level | default: 'h3' }}
                    class="popup-heading richtext-link-inside {{ block.settings.heading_size }}"
                    {{ block.shopify_attributes }}
                  >
                    {{- block.settings.heading -}}
                  </{{ block.settings.heading_level | default: 'h3' }}>
                {%- endif -%}
              {%- when 'description' -%}
                {%- if block.settings.description != blank -%}
                  <div
                    class="popup-description rte"
                    {{ block.shopify_attributes }}
                  >
                    {{- block.settings.description -}}
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'button' -%}
              {%- if block.settings.button_label != blank -%}
                {%- if block.settings.button_action == 'accept' -%}
                  <button class="button button--{{ block.settings.button_style }} popup-button popup-accept focus-inset">
                    <div class="button__content">
                      <span class="button__label" data-label="{{- block.settings.button_label -}}">
                        {{- block.settings.button_label -}}
                      </span>
                    </div>
                  </button>
                {%- else -%}
                  <a
                    class="button button--{{ block.settings.button_style }} popup-button focus-inset"
                    {% if block.settings.button_link %}
                      href="{{ block.settings.button_link }}"
                    {% else %}
                      aria-disabled="true"
                    {% endif %}
                    {% if settings.links_blank and block.settings.button_link.type == 'external_link' %}
                      target="_blank"
                    {% endif %}
                  >
                    <div class="button__content">
                      <span class="button__label" data-label="{{- block.settings.button_label -}}">
                        {{- block.settings.button_label -}}
                      </span>
                    </div>
                  </a>
                {%- endif -%}
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}

        <button
          type="button"
          class="button button--unstyled modal-close-button popup-close focus-inset"
          aria-label="{{- 'accessibility.close' | t -}}"
        >
          {% render 'icon-close' %}
        </button>
      </div>
    </div>
  </div>
</div>

{%- if section.settings['show-overlay'] -%}
  <div
    class="popup-overlay"
    {%- if section.settings['overlay-close'] -%}
      style="cursor: pointer;"
    {%- endif -%}
  ></div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.overlay-group.notification-bar.name",
  "enabled_on": {
    "groups": ["custom.overlay"]
  },
  "settings": [
    {
      "type": "text",
      "id": "popup_id",
      "label": "t:sections.overlay-group.all.settings.popup_id.label"
    },
    {
      "type": "header",
      "content": "t:sections.overlay-group.all.settings.style.header.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-3",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "select",
      "id": "position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.overlay-group.all.settings.position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.overlay-group.all.settings.position.options__8.label"
        }
      ],
      "default": "bottom",
      "label": "t:sections.overlay-group.all.settings.position.label"
    },
    {
      "type": "text_alignment",
      "id": "content_align",
      "label": "t:sections.overlay-group.popup.settings.content_align.label",
      "default": "center"
    },
    {
      "type": "select",
      "id": "open-animation",
      "label": "t:sections.overlay-group.all.settings.open-animation.label",
      "options": [
        {
          "value": "Fade",
          "label": "t:sections.overlay-group.all.settings.animation.options__1.label"
        },
        {
          "value": "Slide",
          "label": "t:sections.overlay-group.all.settings.animation.options__2.label"
        },
        {
          "value": "Zoom",
          "label": "t:sections.overlay-group.all.settings.animation.options__3.label"
        },
        {
          "value": "SlideFade",
          "label": "t:sections.overlay-group.all.settings.animation.options__4.label"
        }
      ],
      "default": "Fade"
    },
    {
      "type": "select",
      "id": "exit-animation",
      "label": "t:sections.overlay-group.all.settings.exit-animation.label",
      "options": [
        {
          "value": "Fade",
          "label": "t:sections.overlay-group.all.settings.animation.options__1.label"
        },
        {
          "value": "Slide",
          "label": "t:sections.overlay-group.all.settings.animation.options__2.label"
        },
        {
          "value": "Zoom",
          "label": "t:sections.overlay-group.all.settings.animation.options__3.label"
        },
        {
          "value": "SlideFade",
          "label": "t:sections.overlay-group.all.settings.animation.options__4.label"
        }
      ],
      "default": "Fade"
    },
    {
      "type": "checkbox",
      "id": "show-overlay",
      "label": "t:sections.overlay-group.all.settings.show-overlay.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.overlay-group.all.settings.trigger.header.content"
    },
    {
      "type": "select",
      "id": "trigger-open",
      "label": "t:sections.overlay-group.all.settings.trigger-open.label",
      "options": [
        {
          "value": "delay",
          "label": "t:sections.overlay-group.all.settings.trigger.options__1.label"
        },
        {
          "value": "scroll",
          "label": "t:sections.overlay-group.all.settings.trigger.options__2.label"
        },
        {
          "value": "exit",
          "label": "t:sections.overlay-group.all.settings.trigger.options__3.label"
        },
        {
          "value": "manual",
          "label": "t:sections.overlay-group.all.settings.trigger.options__4.label"
        }
      ],
      "default": "delay"
    },
    {
      "type": "range",
      "id": "trigger-open-delay",
      "label": "t:sections.overlay-group.all.settings.trigger-open-delay.label",
      "min": 0,
      "max": 100,
      "unit": "sec",
      "default": 1
    },
    {
      "type": "select",
      "id": "open-scroll-type",
      "options": [
        {
          "value": "px",
          "label": "t:sections.overlay-group.all.settings.scroll-type.options__1.label"
        },
        {
          "value": "%",
          "label": "t:sections.overlay-group.all.settings.scroll-type.options__2.label"
        }
      ],
      "default": "%",
      "label": "t:sections.overlay-group.all.settings.open-scroll-type.label"
    },
    {
      "type": "number",
      "id": "open-scroll-position",
      "default": 50,
      "label": "t:sections.overlay-group.all.settings.open-scroll-position.label"
    },
    {
      "type": "text",
      "id": "manual-selector",
      "label": "t:sections.overlay-group.all.settings.manual-selector.label",
      "info": "t:sections.overlay-group.all.settings.manual-selector.info"
    },
    {
      "type": "select",
      "id": "trigger-close",
      "label": "t:sections.overlay-group.all.settings.trigger-close.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.overlay-group.all.settings.trigger.options__5.label"
        },
        {
          "value": "delay",
          "label": "t:sections.overlay-group.all.settings.trigger.options__1.label"
        },
        {
          "value": "scroll",
          "label": "t:sections.overlay-group.all.settings.trigger.options__2.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "trigger-close-delay",
      "label": "t:sections.overlay-group.all.settings.trigger-close-delay.label",
      "min": 1,
      "max": 100,
      "unit": "sec",
      "default": 30
    },
    {
      "type": "select",
      "id": "close-scroll-type",
      "options": [
        {
          "value": "px",
          "label": "t:sections.overlay-group.all.settings.scroll-type.options__1.label"
        },
        {
          "value": "%",
          "label": "t:sections.overlay-group.all.settings.scroll-type.options__2.label"
        }
      ],
      "default": "%",
      "label": "t:sections.overlay-group.all.settings.close-scroll-type.label"
    },
    {
      "type": "number",
      "id": "close-scroll-position",
      "default": 50,
      "label": "t:sections.overlay-group.all.settings.close-scroll-position.label",
      "info": "t:sections.overlay-group.all.settings.close-scroll-position.info"
    },
    {
      "type": "header",
      "content": "t:sections.overlay-group.all.settings.advanced.header.content"
    },
    {
      "type": "range",
      "id": "limit-display",
      "min": 0,
      "max": 100,
      "default": 0,
      "label": "t:sections.overlay-group.all.settings.limit-display.label",
      "info": "t:sections.overlay-group.all.settings.limit-display.info"
    },
    {
      "type": "number",
      "id": "limit-cache",
      "default": 30,
      "label": "t:sections.overlay-group.all.settings.limit-cache.label"
    },
    {
      "type": "checkbox",
      "id": "mobile",
      "label": "t:sections.overlay-group.all.settings.advanced.mobile.label",
      "info": "t:sections.overlay-group.all.settings.advanced.mobile.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "scrolling",
      "label": "t:sections.overlay-group.all.settings.advanced.scrolling.label",
      "info": "t:sections.overlay-group.all.settings.advanced.scrolling.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "overlay-close",
      "label": "t:sections.overlay-group.all.settings.advanced.overlay-close.label",
      "info": "t:sections.overlay-group.all.settings.advanced.overlay-close.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "esc-close",
      "label": "t:sections.overlay-group.all.settings.advanced.esc-close.label",
      "info": "t:sections.overlay-group.all.settings.advanced.esc-close.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "f4-close",
      "label": "t:sections.overlay-group.all.settings.advanced.f4-close.label",
      "info": "t:sections.overlay-group.all.settings.advanced.f4-close.info",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "t:sections.overlay-group.notification-bar.blocks.subheading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.overlay-group.notification-bar.blocks.subheading.settings.subheading.label"
        },
        {
          "type": "select",
          "id": "subheading_style",
          "label": "t:sections.all.subheading_style.label",
          "options": [
            {
              "value": "badge",
              "label": "t:sections.all.subheading_style.options__1.label"
            },
            {
              "value": "simple",
              "label": "t:sections.all.subheading_style.options__2.label"
            }
          ],
          "default": "badge"
        },
        {
          "type": "select",
          "id": "badge_subheading_color",
          "label": "t:sections.all.badge_subheading_color.label",
          "options": [
            {
              "value": "accent",
              "label": "t:sections.all.badge_subheading_color.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.all.badge_subheading_color.options__2.label"
            }
          ],
          "default": "accent"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.overlay-group.notification-bar.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.overlay-group.notification-bar.blocks.heading.settings.heading.label",
          "default": "t:sections.overlay-group.notification-bar.blocks.heading.settings.heading.default"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h4",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h3",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_level",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.heading_level.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_level.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_level.options__3.label"
            }
          ],
          "default": "h3",
          "label": "t:sections.all.heading_level.label"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.overlay-group.notification-bar.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.overlay-group.notification-bar.blocks.description.settings.description.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.overlay-group.notification-bar.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "tertiary",
              "label": "t:sections.all.button.button_style.options__3.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.all.button.button_style.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.button.button_label.label",
          "default": "t:sections.overlay-group.notification-bar.blocks.button.settings.button_label.default"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_action",
          "options": [
            {
              "value": "link",
              "label": "t:sections.overlay-group.notification-bar.blocks.button.settings.button_action.options__1.label"
            },
            {
              "value": "accept",
              "label": "t:sections.overlay-group.notification-bar.blocks.button.settings.button_action.options__2.label"
            }
          ],
          "default": "link",
          "label": "t:sections.overlay-group.notification-bar.blocks.button.settings.button_action.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.overlay-group.notification-bar.name",
      "category": "t:sections.categories.popups",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
